// clear fix is applied on parent containing the floats
@mixin clearfix {
  // ::after is appended as last child of parent element
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Media Queries

/* ORDER
1. Base + Typography
2. General Layout + Grid
3. Page Layout
4. Components
*/

/* 0 - 600px      Phone
600 - 900px    Tablet Portrait
900 - 1200px   Tablet landscape
1200 - 1800px  Desktop / Normal
1800px +       Big Desktop */

/*
$breakpoint choices
- phone
- tab-port
- tab-land
- big-desktop
*/

// em are best option to handle media queries
// em / rem references default browser user agent styles i.e. 16px
// we use em since user can have custom font size
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600/16 * 1em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900/16 * 1em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200/16 * 1em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800/16 * 1em) {
      @content;
    }
  }
}

/* 
// Simple mixin
@mixin respond-phone {
  @media (max-width: 600px) {
    @content;
  }
}
*/
